name: Build & publish module to registry

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            os: ubuntu-latest
            container:
              image: ghcr.io/viamrobotics/rdk-devenv:amd64
              options: --platform linux/amd64
            artifact-name: module-linux-amd64

          - platform: darwin/arm64
            os: macos-latest
            artifact-name: module-darwin-arm64

          - platform: linux/arm64
            os: buildjet-8vcpu-ubuntu-2204-arm
            container:
              image: ghcr.io/viamrobotics/rdk-devenv:arm64
              options: --platform linux/arm64
            artifact-name: module-linux-arm64

          - platform: windows/amd64
            os: ubuntu-latest
            container:
              image: ghcr.io/viamrobotics/antique2:amd64-cache
              options: --platform linux/amd64
            target_os: windows
            target_arch: amd64
            artifact-name: module-windows-amd64

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up build environment
        run: |
          if [ -n "${{ matrix.target_os }}" ]; then
            TARGET_OS=${{ matrix.target_os }} TARGET_ARCH=${{ matrix.target_arch }} make setup
          else
            make setup
          fi

      - name: Build module
        run: |
          if [ -n "${{ matrix.target_os }}" ]; then
             make setup TARGET_OS=${{ matrix.target_os }} TARGET_ARCH=${{ matrix.target_arch }} make module.tar.gz
          else
            make module.tar.gz
          fi

      - name: Upload module artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: module.tar.gz

  publish:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viamrobotics/rdk-devenv:amd64
      options: --platform linux/amd64
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            artifact-name: module-linux-amd64
            artifact-path: ./artifacts/linux-amd64/
          - platform: darwin/arm64
            artifact-name: module-darwin-arm64
            artifact-path: ./artifacts/darwin-arm64/
          - platform: linux/arm64
            artifact-name: module-linux-arm64
            artifact-path: ./artifacts/linux-arm64/
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download module
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: ${{ matrix.artifact-path }}

      - name: Upload module to registry
        uses: viamrobotics/upload-module@v1
        with:
          meta-path: meta.json
          module-path: ${{ matrix.artifact-path }}/module.tar.gz
          platform: ${{ matrix.platform }}
          version: ${{ github.ref_name }}
          key-id: ${{ secrets.VIAM_DEV_API_KEY_ID }}
          key-value: ${{ secrets.VIAM_DEV_API_KEY }}
